@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

.cabecalho {
    background-color: dimgrey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;

    background-color: dimgrey;
}

.introducao {
    margin-left: 5px;

    background-color: dimgrey;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: dimgrey;
}

.foto {
    border: 5px solid black;
    border-radius: 50%;

    margin: 10px;

    height: 120px;
}

.menuitems {
    background-color: dimgrey;
    color: black;
    font-size: 200%;
    text-decoration: none;
}

#mainitem {
    font-weight: bold;
    text-decoration: underline;
}

.emoji {
    height: 40px;
    width: 40px;
    margin: 0px 10px;

    background-color: dimgrey;
}

.texto {
    font-size: large;
    text-align: justify;
}

.cc {
    color: rgb(202, 17, 17);
}

.lista {
    display: flex;
    flex-direction: row;
}

.texto-projeto {
    display: flex;
    flex-direction: row;
    gap: 150px;

    margin: 111px;
}

.imagem-projeto {
    width: 250px;
    height: 200px;

    border: 3px solid black;
    border-radius: 10%;
}

#corpo-habilidades {
    height: 341px;
}

.habilidades {
    color: black;
    text-decoration: none;
}

.rodape {
    background-color: dimgrey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 44px;
}

.contato {
    background-color: dimgrey;

    margin: 12px 0px 0px 5px;
}

.links {
    height: 40px;
    width: 40px;

    /*margin: 2px 10px 0px 10px;*/

    background-color: dimgrey;
}

.final {
    background-color: dimgrey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

@media only screen and (max-width: 414px) {
    .botoes {
        display: flex;
        flex-direction: column;
    }

    #projeto_2 {
        visibility: hidden;
    }

    #projeto_3 {
        visibility: hidden;
    }
}